*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
     --font-family-sans: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    --font-family-heading: 'Poppins', var(--font-family-sans);
    --line-height: 1.5;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --color-primary: #4F46E5;      
    --color-primary-600: #3730A3;  
    --color-primary-400: #7C83FF;  

    /* Accent / secondary */
    --color-accent: #06B6D4;     
    --color-accent-600: #0891B2;

    /* Neutrals */
    --color-bg: #FFFFFF;           /* page background */
    --color-surface: #F8FAFF;      /* cards / surfaces */
    --color-text: #0F172A;         /* main text */
    --color-muted: #6B7280;        /* secondary text */
    --color-border: #E6E9F2;       /* dividers */
}
main{
    max-width: 1080px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
}
section{
    border: 2px solid var(--color-accent-600);
    border-radius: 8px;
    padding: 30px auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5 ease-in-out;
}
section:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px var(--color-text);
}

h1,h2{
    font-family: var(--font-family-heading);
    font-weight: var(--fw-bold);
    text-align: center;
}
h1 span{
    color: var(--color-accent);
}
a{
    text-decoration: none;
    color: var(--color-text);
}
