*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
     --font-family-sans: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    --font-family-heading: 'Poppins', var(--font-family-sans);
    --line-height: 1.5;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --color-primary: #4F46E5;      
    --color-primary-600: #3730A3;  
    --color-primary-400: #7C83FF;  

    /* Accent / secondary */
    --color-accent: #06B6D4;     
    --color-accent-600: #0891B2;

    /* Neutrals */
    --color-bg: #FFFFFF;           /* page background */
    --color-surface: #F8FAFF;      /* cards / surfaces */
    --color-text: #0F172A;         /* main text */
    --color-muted: #6B7280;        /* secondary text */
    --color-border: #E6E9F2;       /* dividers */
}
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:var(--fw-bold);
  font-style: normal;
  font-size: 24px;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}
p {
  font-family: var(--font-family-sans);
  font-weight: var(--fw-regular);
  font-size: 20px; 
  line-height: var(--line-height);
}


                        /* ----------HEADER---------- */
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.nav{
    display: flex;
    gap: 2rem;
    font-family: var(--font-family-sans);
    font-weight: var(--fw-regular);
    font-size: 20px; 
    line-height: var(--line-height);
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: var(--color-accent);
}

                        /* ----------HERO SECTION---------- */
.hero-section{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.hi, .hi-header, .hi-text, .hi-btn{
    align-items: center;
    text-align: center;
}
.hi-header{
    padding: 20px;
}
.hi-text{

}
h1{
    font-size: 64px;
    font-family: var(--font-family-heading);
    font-weight: var(--fw-bold);
}
.hi-header span{
    color: var(--color-primary);
}
.hi-btn{
}